ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 92);
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: block;
}

li a:hover {
    background-color: rgb(74, 81, 212);
}



h1 {
    color: rgb(44, 99, 239);
}

.gauche {
    float: left;

}

.clearB {
    clear: both;
}